<app-header title="Heroes">
    <div buttons-start>
        <button mat-icon-button (click)="openSideNav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div buttons-end>
        <button mat-icon-button (click)="show3dCarousel = !show3dCarousel">
            <mat-icon class="example-icon">swap_horizontal_circle</mat-icon>
        </button>
        <button mat-icon-button (click)="showCarousel = !showCarousel">
            <mat-icon class="example-icon">perm_media</mat-icon>
        </button>
    </div>
</app-header>


<div class="container">

    <div *ngIf="show3dCarousel && slides.length !== 0">
        <st-3D-card-carousel [slides]="slides" [autoloop]="autoloop"></st-3D-card-carousel>
        <button class="load-button" mat-button mat-raised-button color="primary" (click)="loadMore()">Load more</button>
    </div>

    <app-carousel [heroes]="heroes" *ngIf="showCarousel"></app-carousel>

    <app-heroes-list [heroes]="heroes" *ngIf="!showCarousel && !show3dCarousel"></app-heroes-list>
</div>

<!-- Footer. -->
<app-footer></app-footer>
