<div class="page-wrap">
    <!-- Header. -->
    <!--<app-header></app-header>-->

    <mat-sidenav-container class="example-sidenav-container">
      <mat-sidenav #sidenav mode="over">
      <!--<mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'"
                  [fixedInViewport]="mobileQuery.matches">-->


        <h2 matSubheader> Menu </h2>
        <mat-nav-list>
          <a *ngFor="let item of customerRoutes"
         mat-list-item
         (click)="sidenav.close()"
         routerLinkActive
         #routerLinkActiveInstance="routerLinkActive"
         [class.list-item-active]="routerLinkActiveInstance.isActive"
         [routerLink]="[item.route]">
        <mat-icon matListIcon class="app-nav-list-icon"> {{ item.icon }} </mat-icon>
        {{item.title}}
      </a>

        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content>
          <main class="content">
              <router-outlet></router-outlet>
            </main>
      </mat-sidenav-content>
    </mat-sidenav-container>

    <!-- Footer. -->
    <app-footer></app-footer>
</div>
